name: Update Pfaedle files

on:
  workflow_call:

jobs:
  upload-release-asset:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Download unzip and zip
        run: sudo apt install unzip zip

      - name: Install OSM tools
        run: sudo apt install osmium-tool osmctools

      - name: Build Pfaedle
        run: |
          if ! command -v pfaedle &> /dev/null; then
            git clone --recurse-submodules https://github.com/ad-freiburg/pfaedle
            cd pfaedle
            mkdir build && cd build
            cmake ..
            make -j
            sudo make install
            cd ..
          else
            echo "Pfaedle is already installed."
          fi

      - name: Download GTFS fixer
        run: git clone https://github.com/catenarytransit/gtfs-fixer

      - name: Build GTFS fixer
        run: |
          cd gtfs-fixer
          cargo build --release

      - name: Download osm files
        run: |
          wget https://github.com/catenarytransit/osm-filter/releases/download/latest/pfaedle-filtered-great-britain-latest.osm.pbf

      - name: Download GB GTFS
        run: wget https://data.bus-data.dft.gov.uk/timetable/download/gtfs-file/all/ -O gb_bus_gtfs.zip

      - name: Unzip GB GTFS
        run: unzip gb_bus_gtfs.zip -d gb_bus_gtfs

      - name: Run GTFS fixer
        run: ./gtfs-fixer/target/release/gtfs-fixer gb_bus_gtfs/

      - name: Run Pfaedle GB Bus and Metros network
        run: pfaedle -x great-britain-latest.osm.pbf gb_bus_gtfs -F --inplace --write-colors --drop-shapes true

      - name: Zip GB gtfs
        run:  zip -r -9 gb_bus_gtfs_pfaedle.zip gb_bus_gtfs/*

      - name: Upload Asset GB GTFS
        env:
          GITHUB_TOKEN: ${{ secrets.GITUHB_TOKEN }}
          GH_TOKEN: ${{ github.token }}
          ASSET_PATH: gb_bus_gtfs_pfaedle.zip # Replace with the actual path to your file
          ASSET_NAME: gb_bus_gtfs_pfaedle.zip   # Replace with the desired name of the asset
          RELEASE_TAG: latest
        run: |
          echo "Uploading asset: $ASSET_PATH as $ASSET_NAME to release latest"
          gh release upload latest "$ASSET_PATH" --clobber
        shell: bash
        if: env.ASSET_PATH != '' && env.ASSET_NAME != ''
