name: Manual Update Trigger National Rail UK

on:
  workflow_dispatch:
    
permissions:
  contents: write
  packages: write

jobs:
  call-update:
    uses: ./.github/workflows/nationalrail.yml
    secrets:
      NR_USERNAME: ${{ secrets.NR_USERNAME }}
      NR_PASSWORD: ${{ secrets.NR_PASSWORD }}
