name: Update Pfaedle files

on:
  workflow_call:

jobs:
  upload-release-asset:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Apt Update
        run: sudo apt update

      - name: Download unzip and zip
        run: sudo apt install unzip zip -y

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: '^1.13.1'

      - name: Install GTFS tidy
        run: |
          go install github.com/patrickbr/gtfstidy@latest
          gtfstidy --help

      - name: Build Pfaedle
        run: |
          if ! command -v pfaedle &> /dev/null; then
            git clone --recurse-submodules https://github.com/ad-freiburg/pfaedle
            cd pfaedle
            mkdir build && cd build
            cmake ..
            make -j
            sudo make install
            cd ..
          else
            echo "Pfaedle is already installed."
          fi

      - name: Download osm files
        run: |
          wget https://github.com/catenarytransit/osm-filter/releases/download/latest/railonly-europe-latest.osm.pbf
          wget https://github.com/catenarytransit/osm-filter/releases/download/latest/pfaedle-filtered-dach-latest.osm.pbf

      - name: Download MVV GTFS
        run: wget https://www.mvv-muenchen.de/fileadmin/mediapool/02-Fahrplanauskunft/03-Downloads/openData/mvv_gtfs.zip

      - name: Unzip MVV GTFS
        run: unzip mvv_gtfs.zip -d mvv_gtfs

      - name: Run Pfaedle MVV Bus network
        run: pfaedle -x pfaedle-filtered-dach-latest.osm.pbf mvv_gtfs -F --inplace --mots bus,trolley-bus,trolleybus,trolley,ferry,tram,subway,metro,streetcar --write-colors --drop-shapes true

      - name: Run Pfaedle MVV Rail network
        run: pfaedle -x railonly-europe-latest.osm.pbf mvv_gtfs -F --inplace --mots rail --write-colors  --drop-shapes true

      - name: Zip se gtfs
        run:  zip -r -9 mvv_gtfs_pfaedle.zip mvv_gtfs/*

      - name: Upload Asset MVV GTFS
        env:
          GITHUB_TOKEN: ${{ secrets.GITUHB_TOKEN }}
          GH_TOKEN: ${{ github.token }}
          ASSET_PATH: mvv_gtfs_pfaedle.zip # Replace with the actual path to your file
          ASSET_NAME: mvv_gtfs_pfaedle.zip # Replace with the desired name of the asset
          RELEASE_TAG: latest
        run: |
          echo "Uploading asset: $ASSET_PATH as $ASSET_NAME to release latest"
          gh release upload latest "$ASSET_PATH" --clobber
        shell: bash
        if: env.ASSET_PATH != '' && env.ASSET_NAME != ''
