name: Update Pfaedle files San Joaquin

on:
  workflow_call:

jobs:
  upload-release-asset:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Utilities
        run: sudo apt-get update && sudo apt-get install -y unzip zip

      - name: Install OSM tools
        run: sudo apt-get install -y osmium-tool osmctools

      - name: Build Pfaedle
        run: |
          if ! command -v pfaedle &> /dev/null; then
            git clone --recurse-submodules https://github.com/ad-freiburg/pfaedle
            cd pfaedle
            mkdir build && cd build
            cmake ..
            make -j
            sudo make install
            cd ../..
          else
            echo "Pfaedle is already installed."
          fi

      - name: Download OSM file
        run: |
          wget https://github.com/catenarytransit/osm-filter/releases/download/latest/pfaedle-filtered-california-latest.osm.pbf

      - name: Convert OSM file
        run: |
          osmconvert pfaedle-filtered-california-latest.osm.pbf -o=pfaedle-filtered-california-latest.osm

      - name: Download San Joaquins GTFS
        id: download_gold_runner_gtfs
        run: |
          wget https://d34tiw64n5z4oh.cloudfront.net/wp-content/uploads/GRGTFS.zip -O gold_runner_gtfs.zip
          echo "gold_runner_gtfs_FILE=gold_runner_gtfs.zip" >> $GITHUB_OUTPUT

      - name: Calculate San Joaquins GTFS MD5 Hash
        id: calculate_gold_runner_gtfs_md5
        run: |
          filepath="${{ steps.download_gold_runner_gtfs.outputs.gold_runner_gtfs_FILE }}"
          md5_hash=$(md5sum "$filepath" | awk '{print $1}')
          echo "gold_runner_gtfs_MD5=$md5_hash" >> $GITHUB_OUTPUT
          echo "gold_runner_gtfs_MD5_FILE=$filepath.md5" >> $GITHUB_OUTPUT
          echo "$md5_hash" > "$filepath.md5"

      - name: Download Existing San Joaquins GTFS MD5 Hash
        id: download_existing_gold_runner_gtfs_md5
        run: |
          ASSET_NAME="${{ steps.download_gold_runner_gtfs.outputs.gold_runner_gtfs_FILE }}"
          MD5_ASSET_NAME="${ASSET_NAME}.md5"
          RELEASE_TAG="latest"
          RELEASE_URL="https://github.com/${{ github.repository }}/releases/download/${RELEASE_TAG}/${MD5_ASSET_NAME}"
          if wget --spider --quiet "$RELEASE_URL"; then
            echo "gold_runner_gtfs_MD5_EXISTS=true" >> $GITHUB_OUTPUT
            wget --quiet -O existing_gold_runner_gtfs_md5.txt "$RELEASE_URL"
            EXISTING_gold_runner_gtfs_MD5=$(cat existing_gold_runner_gtfs_md5.txt)
            echo "EXISTING_gold_runner_gtfs_MD5=$EXISTING_gold_runner_gtfs_MD5" >> $GITHUB_OUTPUT
          else
            echo "gold_runner_gtfs_MD5_EXISTS=false" >> $GITHUB_OUTPUT
          fi

      - name: Run Pfaedle and Zip (Conditional)
        if: steps.download_existing_gold_runner_gtfs_md5.outputs.gold_runner_gtfs_MD5_EXISTS == 'false' || steps.calculate_gold_runner_gtfs_md5.outputs.gold_runner_gtfs_MD5 != steps.download_existing_gold_runner_gtfs_md5.outputs.EXISTING_gold_runner_gtfs_MD5
        id: run_pfaedle_zip
        run: |
          # Unzip San Joaquins GTFS
          unzip gold_runner_gtfs.zip -d gold_runner_gtfs

          # Delete empty stops.txt lines
          sed -i '/^[[:space:]]*$/d' gold_runner_gtfs/stops.txt
          sed -i '/^[[:space:]]*$/d' gold_runner_gtfs/stop_times.txt
          sed -i '/^[[:space:]]*$/d' gold_runner_gtfs/trips.txt

          # Run Pfaedle on San Joaquins network
          pfaedle -x pfaedle-filtered-california-latest.osm gold_runner_gtfs -F --inplace --mots rail --write-colors --drop-shapes true

          # Zip the processed San Joaquins GTFS
          zip -r -9 gold_runner_gtfs_pfaedle.zip gold_runner_gtfs/

      - name: Upload San Joaquins GTFS Assets
        if: steps.run_pfaedle_zip.outcome == 'success'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ github.token }}
          ASSET_PATH: gold_runner_gtfs_pfaedle.zip
          MD5_ASSET_PATH: ${{ steps.calculate_gold_runner_gtfs_md5.outputs.gold_runner_gtfs_MD5_FILE }}
          RELEASE_TAG: latest
        run: |
          NEW_MD5="${{ steps.calculate_gold_runner_gtfs_md5.outputs.gold_runner_gtfs_MD5 }}"
          MD5_EXISTS="${{ steps.download_existing_gold_runner_gtfs_md5.outputs.gold_runner_gtfs_MD5_EXISTS }}"
          EXISTING_MD5="${{ steps.download_existing_gold_runner_gtfs_md5.outputs.EXISTING_gold_runner_gtfs_MD5 }}"
          
          if [[ "$MD5_EXISTS" == "false" ]] || [[ "$NEW_MD5" != "$EXISTING_MD5" ]]; then
            if [[ "$MD5_EXISTS" == "false" ]]; then
              echo "No existing MD5 found for San Joaquins GTFS. Uploading new assets."
            else
              echo "Existing MD5 for San Joaquins GTFS is different. Uploading updated assets."
            fi
            
            if [[ -f "$ASSET_PATH" ]]; then
              gh release upload "$RELEASE_TAG" "$ASSET_PATH" --clobber
              gh release upload "$RELEASE_TAG" "$MD5_ASSET_PATH" --clobber
            else
              echo "Error: Processed asset file '$ASSET_PATH' not found. Skipping upload."
              exit 1
            fi
          else
            echo "Existing MD5 for San Joaquins GTFS matches the new MD5. Skipping upload."
          fi
        shell: bash
