name: Update Scheduled

on:
  schedule:
    - cron: '0 0,6,12,18 * * *'
    

permissions:
  contents: write
  packages: write

jobs:
  call-update:
    uses: ./.github/workflows/update.yml
  download-raw-de:
    uses: ./.github/workflows/download_delfi_raw.yaml
  mvv-update:
    uses: ./.github/workflows/mvv_pfaedle.yml
  chicago-update:
    uses: ./.github/workflows/cta_update.yml
  sncf-update:
    uses: ./.github/workflows/sncfupdate.yml
  francais:
    uses: ./.github/workflows/france_services_locaux.yaml
  pc:
    uses: ./.github/workflows/pc_update.yml
  norway:
    uses: ./.github/workflows/norway.yml
 # luxembourg:
 #   uses: ./.github/workflows/luxembourg_update.yml
  san-joaquins:
    uses: ./.github/workflows/san-joaquins.yml
  nah:
    uses: ./.github/workflows/nah_pfaedle.yml
  njtransit:
    uses: ./.github/workflows/njtransit.yml
  octranspo:
    uses: ./.github/workflows/octranspo.yml
  peatus:
    uses: ./.github/workflows/peatus.yml
  seoul:
    uses: ./.github/workflows/seoulmetro.yml
  uknationalrail:
    uses: ./.github/workflows/nationalrail.yml
    secrets:
      NR_USERNAME: ${{ secrets.NR_USERNAME }}
      NR_PASSWORD: ${{ secrets.NR_PASSWORD }}
#  de-call-update:
#    uses: ./.github/workflows/deutschlandupdate.yml
